<!-- HEADER -->

{% include "_partials/_header.html" with {title: 'Multimedia links'} %}

<!-- section -->

<section class="section prog">
    <div class="wrapper">
        <h2>Ressources programmation</h2>
        <div class="cards">
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://fonts.google.com/?icon.style=Rounded" target="_blank">
                                <div class="card__media"><img src="assets/images/google-fonts.jpg" alt="" /></div>
                                <h4>Google Fonts</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://gwfh.mranftl.com/fonts" target="_blank">
                                <div class="card__media"><img src="assets/images/google-fonts-helper.jpg" alt="" /></div>
                                <h4>Google Fonts helper</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://favicon.io/" target="_blank">
                                <div class="card__media"><img src="assets/images/favicon-io.jpg" alt="" /></div>
                                <h4>Favicon.io</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://bennettfeely.com/clippy/" target="_blank">
                                <div class="card__media"><img src="assets/images/clippy.jpg" alt="" /></div>
                                <h4>Clippy</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://roadmap.sh/" target="_blank">
                                <div class="card__media"><img src="assets/images/developer-roadmap.jpg" alt="" /></div>
                                <h4>Dev Roadmap</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://www.npmjs.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/npm.jpg" alt="" /></div>
                                <h4>Npm</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://cssgradient.io/" target="_blank">
                                <div class="card__media"><img src="assets/images/cssgradient.jpg" alt="" /></div>
                                <h4>Css gradient</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://rgbacolorpicker.com/hex-to-rgba" target="_blank">
                                <div class="card__media"><img src="assets/images/rgba.jpg" alt="" /></div>
                                <h4>Hex to RGBA</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://cubic-bezier.com/#.17,.67,.83,.67" target="_blank">
                                <div class="card__media"><img src="assets/images/cubic-bezier.jpg" alt="" /></div>
                                <h4>Cubic bezier</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://www.shapedivider.app/" target="_blank">
                                <div class="card__media"><img src="assets/images/shape-divider.jpg" alt="" /></div>
                                <h4>Shape divider</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section js">
    <div class="wrapper">
        <h2>Librairies js</h2>
        <div class="cards">
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://swiperjs.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/swiper.jpg" alt="" /></div>
                                <h4>Swiper js</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://fr.react.dev/" target="_blank">
                                <div class="card__media"><img src="assets/images/react.jpg" alt="" /></div>
                                <h4>React</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://svelte.dev/" target="_blank">
                                <div class="card__media"><img src="assets/images/svelte.jpg" alt="" /></div>
                                <h4>Svelte</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://atroposjs.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/atropos.jpg" alt="" /></div>
                                <h4>Atropos</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://threejs.org/" target="_blank">
                                <div class="card__media"><img src="assets/images/three.jpg" alt="" /></div>
                                <h4>Three js</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section ui">
    <div class="wrapper">
        <h2>Librairies UI/UX</h2>
        <div class="cards">
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://mui.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/material-ui.jpg" alt="" /></div>
                                <h4>Material UI</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://ui.shadcn.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/shadcn-ui.jpg" alt="" /></div>
                                <h4>Shadcn</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://semantic-ui.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/semantic-ui.jpg" alt="" /></div>
                                <h4>Semantic UI</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://v2.chakra-ui.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/chakra-ui.jpg" alt="" /></div>
                                <h4>Chakra UI</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section design">
    <div class="wrapper">
        <h2>Ressources design</h2>
        <div class="cards">
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://www.pinterest.ca/" target="_blank">
                                <div class="card__media"><img src="assets/images/pinterest.jpg" alt="" /></div>
                                <h4>Pinterest</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://dribbble.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/dribbble.jpg" alt="" /></div>
                                <h4>Dribbble</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://fr.vecteezy.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/vecteezy.jpg" alt="" /></div>
                                <h4>Vecteezy</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://pixabay.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/pixabay.jpg" alt="" /></div>
                                <h4>Pixabay</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://fontjoy.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/fontjoy.jpg" alt="" /></div>
                                <h4>Font joy</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://www.opendoodles.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/open-doodles.jpg" alt="" /></div>
                                <h4>Open doodles</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://undraw.co/illustrations" target="_blank">
                                <div class="card__media"><img src="assets/images/undraw.jpg" alt="" /></div>
                                <h4>Undraw</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://onepagelove.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/onepage-love.jpg" alt="" /></div>
                                <h4>One page love</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://www.svgrepo.com/" target="_blank">
                                <div class="card__media"><img src="assets/images/svgrepo.jpg" alt="" /></div>
                                <h4>SVG Repo</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atropos my-atropos" data-scrolly="fromBottom" data-no-repeat>
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <a class="card" href="https://doodad.dev/pattern-generator/" target="_blank">
                                <div class="card__media"><img src="assets/images/pattern.jpg" alt="" /></div>
                                <h4>Pattern generator</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTERS -->

{% include "_partials/_footer.html" %}
